.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    padding: 20px 15px;
}

.header_button {
    display: none;
}

.header_menu_icon {
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .header {
        justify-content: space-around;
        background-color: #FAFAFA;
    }

    .header_button {
        display: block;
        min-width: 150px;
        height: 44px;
    }
} 

@media screen and (min-width: 768px) {
    .header {
        padding: 36px 34px;
    }
}